$red: #C62C2C;
$dark-blue: #23374D;
$blue: #22B4EC;
$lightslategray: #7B93A4;
$light-blue: #A7E1F7;
$lighter-blue: #D3F0FB;
$lightest-blue: #F4FBFE;
$dark-green: #006D64;
$green: #3DD791;
$black: #27292E;
$darkest-gray: #333333;
$darker-gray: #666666;
$dark-gray: #949494;
$gray: #BEBEBE;
$light-gray: #E0E0E0;
$lighter-gray: #EBEEEF;
$lightest-gray: #F9F9F9;
$white: #fff;