.form-control {
  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input {
    border: 1px solid $gray;
    border-radius: 10px;
    padding: 0.375rem 0.75rem;
    margin-bottom: 12px;
    min-height: 40px;
    background-color: $white;
    color: #2c3338;
    font-size: 16px;
    width: 90%;

    &:focus-visible {
      outline: $gray;
    }
  }

  &__input-error {
    border-color: $red;
  }

  &__error {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    max-width: 200px;
    font-size: 14px;
    border-radius: 4px;
    color: $red;

    img {
      height: 18px;
      width: 18px;
      margin-right: 8px;
    }
  }
}